<!DOCTYPE html>
<html>
    <head>
        <title>Steam Project</title>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script src="/static/donut_chart.js"></script>

        <h1>Steam Project</h1>
        <p>Enter your current nickname</p>
        <form id='search-user'>
            <input type='text' id='nickname' name='nickname'>
            <input type='submit'>
        </form>
        <input id='min-play-hours' type='range' min='0' max='300'>
        <div id='play-hours-chart'></div>

        <script>
            // placeholder data
            var tempData = [['Outlast', 4], ['Fallout', 20], ['Path of Exile', 12]];

            // make a temporary donut chart when page opens
            var currentChartArc = makeDonutChart("#play-hours-chart", tempData);

            // initialize user info vars
            var steamid, profileurl, gamecount, games, playhours, minPlayHours, reducePaths;
            // when user enters new steam nickname
            $('#search-user').on('submit', function (evt) {
                //prevent submission of form
                evt.preventDefault();
                // AJAX request for user infro from Steam API instead
                $.get('/get_user', 
                    {nickname: $('#nickname').val()}, 
                    function (data) {
                        // assign data to user info vars
                        steamid = data.steamid;
                        profileurl = data.profileurl;
                        gamecount = data.gamecount;
                        games = data.games;
                        playhours = data.playedgames;

                        // replace placeholder chart with user data
                        $("#play-hours-chart").empty();
                        makeDonutChart("#play-hours-chart", playhours);
                        minPlayHours = 0;
                        reducePaths = [];
                });
            });

            $('#min-play-hours').on('change', function (evt) {
                var newMinHours = parseInt($(this).val());
                console.log(newMinHours);

                if (newMinHours > minPlayHours) {
                    for (i=minPlayHours; i<newMinHours; i++) {
                        //console.log(i); 
                        //var tempPaths = $('.hours' + i.toString()).toArray( );

                        // get array of paths to reduce
                        var tempPaths = d3.select('.hours' + i.toString());
                        debugger;
                        if (tempPaths[0][0]) {
                            tempPaths.transition().duration(750).attrTween("d", arcTween(currentChartArc, 0));
                            //for (j=0; j<tempPaths.length; j++) {
                                // go through each path and add animation transition to reduce
                                // tempPaths[i].transition().duration(750).attrTween("d", arcTween(0));
                            // }
                        }
                    }
                }
                else if (newMinHours < minPlayHours) {
                    var k = reducePaths.length - 1;
                    var overMinHours = true;
                    while (overMinHours) {
                        if (reducePaths[k].__data__.value > newMinHours){
                            reducePaths.pop();
                            k -= 1;
                        }
                        else {
                            overMinHours = false;
                        }
                    }
                }

                minPlayHours = newMinHours;
            });
        </script>
    </body>
</html>